.wline1bg {
    --s: 56px; /* control the size */
    --g: 10px; /* control the gap */
    --c: #ECD078; /* first color */
    
    --_l: #0000 calc(33% - .866*var(--g)),var(--c) calc(33.2% - .866*var(--g)) 33%,#0000 34%;
    background:
      repeating-linear-gradient(var(--c) 0 var(--g), #0000 0 50%)
       0 calc(.866*var(--s) - var(--g)/2),
      conic-gradient(from -150deg at var(--g) 50%,var(--c) 120deg,#0000 0),
      linear-gradient(-120deg,var(--_l)),linear-gradient( -60deg,var(--_l))
      #0B486B; /* second color */
    background-size: var(--s) calc(3.466*var(--s))
  }
  /* HTML: <div class="loader"></div> */
.loader {
    width: calc(80px / cos(45deg));
    height: 14px;
    background: repeating-linear-gradient(-45deg,#000 0 15px,#0000 0 20px) left/200% 100%;
    animation: l3 2s infinite linear;
  }
  @keyframes l3 {
      100% {background-position:right}
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    height: 30px;
    display: flex;
  }
  .loader:before {
    content: "";
    background: #000;
    width: 15px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: l1 1.5s infinite linear;
  }
  @keyframes l1 {
    90%,100%{flex-grow: 1}
  }

  
  